<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register employee</title>
</head>
<body>
<h3>register employee here.........</h3>
<table>
    <form method="post" action="{% url 'emplist' %}">
        {% csrf_token %}
        <tr>
            <td>EMPLOYEE NAME:</td>
            <td><input type="text" name="ename"></td>
        </tr>
        <tr>
            <td>EMPLOYEE ID:</td>
            <td><input type="text" name="eid"></td>
        </tr>
        <tr>
            <td>SALARY:</td>
            <td><input type="text" name="esal"></td>
        </tr>
        <tr>
            <td>DESIGNATION:</td>
            <td><input type="text" name="design"></td>
        </tr>
        <tr>
            <td><input type="submit" value="register"></td>
        </tr>
    </form>
</table>
</body>
</html>