<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h3>The Employee Details are Here........</h3>
<form class="example" method="POST" action="{% url 'search' %}">
    {% csrf_token %}

     <input type="text" placeholder="Search.." name="srch">
    <input type="submit" value="search">
</form>

    <table border="1">
    <tr>
        <td>eid</td>
        <td>ename</td>
    </tr>
     {% for i in ob %}
    <tr>
        <td>{{ i.eid }}</td>
        <td>{{ i.ename }}</td>
    </tr>
   {% endfor %}

</table>


</body>
</html>