td{
height:400px;
width:200px;
border:6px solid black;
}
#one{
background-color:#786452}
#two{
background-color:#A5907E;
}
#three{
background-color:#000000;
}
#four{
background-color:#600C25;
}
#five{
background-color:#1B2A4C;
}